@font-face {
  font-family: "Frutiger LT Arabic";
  src: url(./fonts/FrutigerLTArabic45Light.ttf);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
  direction: var(--layout-direction);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Frutiger LT Arabic";
  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
}
html {
  scroll-behavior: smooth;
  /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
:root {
  --color-accent: #be1e2d;
  --color-light-gray: #f5f5f5;
  --color-medium-gray: #939090;
  --color-dark-gray: #646464;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
